.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 300;
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
}
.header__searchInput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.header__searchIcon{
    padding: 5px;
    height : 22px !important;
    background-color: #febd69;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header__nav{
    display: flex;
    justify-content: center;
}
.header__optionBasket{
    display: flex;
    align-items: center;
    color: white;
}
.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
.header__option{
    display :flex ;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color : white;

}
